
*.inp
BIN_DB_trial.p
Mod_AnyT_DB.p
.ipynb_checkpoints/ANN_PyTorch-checkpoint.ipynb
.ipynb_checkpoints/ANN_PyTorch-checkpoint.ipynb
.ipynb_checkpoints/Exeter_Geom_DB-checkpoint.ipynb
.ipynb_checkpoints/ANN_PyTorch-checkpoint.ipynb
.ipynb_checkpoints/GNN_Filters_PyG-checkpoint.ipynb
.ipynb_checkpoints/ANN_PyTorch-checkpoint.ipynb
temp.bin
temp.rpt
temp.rpt
temp.bin
networks/Exeter/~$Exeter Characteristics.xlsx
networks/Exeter/TLN_info.csv
networks/Exeter/Exeter Characteristics.xlsx
.ipynb_checkpoints/GNN_Filters_PyG-checkpoint.ipynb
.ipynb_checkpoints/ANN_PyTorch-checkpoint.ipynb
*.p
